@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

body {
  background-image: url('https://unsplash.it/2500/1400/?random');
  background-repeat: no-repeat;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 
  1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
input {
	color:black;
}

.help-block {
	color: red;
}

#green {
	color: green;
	text-shadow: none;
}
